.cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
}
.card {
    color: blue;
    padding: 16px;
    width: 250px;
    text-align: center;
    border-radius: 8px;
    box-shadow: black 1px 1px 1px;
    justify-self: center
    ;
}
.card img {
    border: black 1px;
    width: 250px;
}
@media (min-width: 576px) {
.cards {
    grid-template-columns: 1fr;
}
@media (min-width: 992px) {
.cards {
    grid-template-columns: 1fr 1fr;
}
@media (min-width: 1200px) {
.cards{
    grid-template-columns: 1fr 1fr 1fr;
}